textarea {
    display:block;
    margin: 3rem;
    width: 90%;
    height: 30%;
}

#text-output {
    display: inline-block;
    border: 2px solid blue;
    height: 100px;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
}