@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Sans&display=swap');

:root {
    --primary-color: #F2C94C;
}

body {
    margin: 0;
     font-family: 'PT Sans', sans-serif;
}

textarea {
   display: block;
    margin: auto;
    border: 1px solid black;
    width: 50%;
    height: 50%;
}

#text-output {
    display: inline-block;
    border: 2px solid blue;
    height: 100px;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
}

.nav-bar {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    background-color: var(--primary-color);
    
}
